.products-page {
  padding: 20px 40px;
  font-family: 'Poppins', sans-serif;
  background-color: #fefae0;
  min-height: 100vh;
}

/* Header Section */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.title {
  font-size: 2rem;
  color: #283618;
  font-weight: 600;
}

.bag-button {
  background: #386641;
  color: white;
  border: none;
  padding: 10px 12px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.bag-button:hover {
  background: #4e8b5c;
}
.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;          
  padding: 20px 0;
}


@media (max-width: 1200px) {
  .product-list {
    grid-template-columns: repeat(3, 1fr);
  }
}


@media (max-width: 992px) {
  .product-list {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 576px) {
  .product-list {
    grid-template-columns: repeat(1, 1fr);
  }
}








